[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "covalchemy"]
	path = covalchemy
	url = https://github.com/namanlab/covalchemy
